body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

.dice-container {
    width: 200px;
    height: 200px;
    perspective: 600px;
}

.dice {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: relative;
    animation: rotate 5s infinite ease-in-out;
    /* transform: rotate3d(1, 1, 0, 35deg) */
}

.side {
    background: rgba(255, 255, 255);
    border: 1px solid black;
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-1 {
    transform: rotateY(0deg) translateZ(100px);
}

.side-1::before {
    content: '';
    width: 20%;
    height: 20%;
    background: black;
    border-radius: 50%;
}

.side-2 {
    transform: rotateY(90deg) translateZ(100px);
}

.side-2::before {
    content: '';
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: transparent;
    box-shadow: #000 -50px -50px 0px 0px, #000 50px 50px 0px 0px;
}

.side-3 {
    transform: rotateX(-90deg) translateZ(-100px);
}

.side-3::before {
    content: '';
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: black;
    box-shadow: #000 -50px 50px 0px 0px, #000 50px -50px 0px 0px;
}

.side-4 {
    transform: rotateX(-90deg) translateZ(100px);
}

.side-4::before {
    content: '';
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: transparent;
    box-shadow: #000 -50px 50px 0px 0px, #000 -50px -50px 0px 0px,
        #000 50px 50px 0px 0px, #000 50px -50px 0px 0px;
}

.side-5 {
    transform: rotateY(90deg) translateZ(-100px);
}

.side-5::before {
    content: '';
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: black;
    box-shadow: #000 -50px -50px 0px 0px, #000 -50px 50px 0px 0px,
        #000 50px -50px 0px 0px, #000 50px 50px 0px 0px;
}

.side-6 {
    transform: rotateX(180deg) translateZ(100px);
}

.side-6::before {
    content: '';
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: transparent;
    box-shadow: #000 -50px -50px 0px 0px, #000 -50px 0px 0px 0px,
        #000 -50px 50px 0px 0px, #000 50px -50px 0px 0px, #000 50px 0px 0px 0px, #000 50px 50px 0px 0px;
}

@keyframes rotate {

    0% {
        transform: rotate3d(0, 0, 0, 0deg)
    }

    100% {
        transform: rotate3d(1, 1, 0, 360deg)
    }
}