body {
    background-color: black;
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    width: 99.2vw;
}

header {
    background-color: rgb(2, 2, 46);
    margin: 0;
    padding: 0;
    height: 80px;
    width: 99.2vw;
    text-align: center;
}

main {
    height: auto;
}

figure {
    margin: 0;
}

nav {
    padding-top: 35px;
    width: 85%;
}

nav>a {
    padding-left: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

#logo {
    height: 75px;
    width: 225px;
    float: left;
    margin-left: 70px;
}

#user {
    height: 50px;
    padding-top: 15px;
    padding-right: 50px;
    float: right;
}

#poster {
    background-image: url("./src/images/poster.png");
    width: 99.2vw;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.posters {
    margin: auto;
    width: 90vw;
    display: block;
}

.posters::after {
    content: "";
    clear: both;
    display: table;
}

.moviePoster {
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    float: left;
    width: 18%;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 10px;
}

footer {
    height: 50px;
}